body {
    background-color:rgb(225, 238, 221);
}

h1, h2{
    text-align:center;
    color:whitesmoke;
    text-shadow: 2px 2px 5px rgb(2, 97, 2); 
    font-family: "Times New Roman", Times, serif;
     font-size:4vw;
}

h2{
    font-size: large;
}

p{
    margin: 8;
    font-family: "Papyrus", fantasy;
}

.img1 {
    width: 50%;
}

img2 {
    width: 50%;
}