body {
    background-color:rgba(206, 255, 191, 0.892);
}

h1{
    text-align:center;
    color:whitesmoke;
    text-shadow: 2px 2px 5px rgb(5, 54, 5); 
    font-family: "Times New Roman", Times, serif;
     font-size:4vw;
}

h2{
    text-align:center;
     color:whitesmoke;
    text-shadow: 2px 2px 5px rgb(5, 54, 5); 
    font-family: "Times New Roman", Times, serif;
    font-size:2vw;
}

p{
    margin: 5%;
    font-family: "Papyrus", fantasy;
}

.img1 {
    margin: auto;
  width:25%;
}
